<main>
  <form method="POST" id="createPropertyForm" action="/properties/createProperty" enctype="multipart/form-data">
    <div class="mb-3">
    <label for="images" class="form-label">
        Images:
        <input type="file" class="form-control" accept="image/*" id="images" name="images" multiple>
    </label>
    </div>
    <div class="mb-3">
    <label for="address" class="form-label">
        Address:
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter address here">
    </label>
    </div>
    <div class="mb-3">
    <label for="description" class="form-label">
        Description:
        <textarea id="description" class="form-control" cols="40" rows="2" name="description" placeholder="Enter description"></textarea>
    </label>
    </div>
    <div class="mb-3">
    <label for="laundry">
        Laundry:
        <select id="laundry" class="form-control" name="laundry">
            <option value="Not-Included">Not-Included</option>
            <option value="In-Unit">In-Unit</option>
            <option value="Community">Community</option>
        </select>
    </label>
    </div>
    <div class="mb-3">
    <label for="rent" class="form-label">
        Rent:
        <input type="number" class="form-control" id="rent" name="rent">
    </label>
    </div>
    <div class="mb-3">
    <label for = "area" class="form-label">
        Area:
        <input type="number" class="form-control" id = "area" name = "area"> 
    </label>
    </div>
    <div class="mb-3">
    <label for = "bed">
        Bed:
        <select id = "bed" class="form-control" name = "bed">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </label>
    </div>
    <div class="mb-3">
    <label for = "bath">
        Bath:
        <select id = "bath" class="form-control" name = "bath">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </label>
    </div>
    
    <div class="mb-3">
    <input type="submit"  value="Create">
    </div>
  </form>
</main>
<script src="../public/autoComplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8FReQh61YLuQP68YvmQveuU7dY3LVC9w&libraries=places&callback=initAutoComplete" async defer></script>