<main>
    <div class="ownerLinks">  
        <a href="/owners" id="ownerElement1">Profile</a>
        <a href="/sign-out">Sign-out</a>
        <br>
        <br>
    </div> 
    {{!-- <form method="GET" action="/properties/createProperty"> --}}
        <a href="/properties/createProperty"><input type="button" value="Add Property" /></a>
    {{!-- </form> --}}
</main>