<main>
    <div class="ownerLinks">  
      <a href="/owners" class="studentElement2">Profile</a>
      <a href="/owners/properties-list" class="studentElement2">My Properties</a>
      <a href="/sign-out" class="studentElement2">Sign-out</a>
   </div>
  <form action="/properties/createProperty" method="get">
    <label for="Add-property"></label>
    <input type="submit" id="Add-property" value="Add Property" class="btn btn-primary">
  </form>
</main>