{{!-- Action pending --}}
<main>
   <form method="POST" id="property-list" action=" ">

      <label for="address">Address:
      <input type="text" id="address" name="address" value="data.address">
      <br>
      <br>
      </label>

      <label for="description">Description:
      <input type="text" id="description" name="description" value="data.description">
      <br>
      <br>
      </label>
      
      <label for="laundry">Laundry:
      <input type="number" id="laundry" name="laundry" value="data.laundry">
      <br>
      <br>
      </label>

      <label for="rent">Rent:
      <input type="number" id="rent" name="rent" value="data.rent">
      <br>
      <br>
      </label>

      <label for="listedBy">Listed By:
      <input type="text" id="listedBy" name="listedBy" value="data.listedBy">
      <br>
      <br>
      </label>

      <label for="emailId">Email Id:
      <input type="email" id="emailId" name="emailId" value="data.emailId">
      <br>
      <br>
      </label>

      <label for="area">Area:
      <input type="text" id="area" name="area" value="data.area">
      <br>
      <br>
      </label>

      <label for="bed">Bed:
      <input type="number" id="bed" name="bed" value="data.bed">
      <br>
      <br>
      </label>

      <label for="bath">Bath:
      <input type="number" id="bath" name="bath" value="data.bath">
      <br>
      <br>
      </label>
      
      <input type="submit"  value="Update">
   </form>
    

 </main>