<main>
    <div class="ownerLinks">  
        <a href="/owners" id="ownerElement1">Profile</a>
        <a href="/sign-out">Sign-out</a>
        <br>
        <br>
    </div> 
    <form method="GET" action="/properties/createProperty">
        <input type="submit" value="Add Property" />
    </form>
</main>