<main>
   <form method="POST" id="signin-form" action="/sign-in">
      <div class="row mb-3">
         <label for="emailIdInput" class="col-sm-2 col-form-label">Email</label>
         <div class="col-sm-3">
            <input type="email" class="form-control" id="emailIdInput" name="emailIdInput" placeholder="Enter a valid email id">
         </div>
      </div>
      <div class="row mb-3">
         <label for="passwordInput" class="col-sm-2 col-form-label">Password</label>
         <div class="col-sm-3">
            <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Enter a valid password">
         </div>
      </div>
      <fieldset class="row mb-3">
         <legend class="col-form-label col-sm-2 pt-0">Are you a Student or Owner</legend>
         <div class="col-sm-3">
            <div class="form-check">
               <input class="form-check-input" type="radio" id = "student" name = "userType" value="student" checked>
               <label class="form-check-label" for="student">
               Student
               </label>
            </div>
            <div class="form-check">
               <input class="form-check-input" type="radio" name="userType" id="owner" value="owner">
               <label class="form-check-label" for="owner">
               Owner
               </label>
            </div>
         </div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Sign in</button>
   </form>
   <a href="/sign-up">Click here to Register!</a>
</main>