<main>
   <div class="row">
      <div class="col-md-6">
         <h2>Welcome to HomeFinder Website.</h2>
         <p>we have developed this website to help International Students relocating to a new place in the United States.</p>
         
         <h3>Students can</h3>
         <ul>
            <li>Create, Update and Delete their profile</li>
            <li>view all the Properties listed in our website.</li>
            <li>view any specific Property and all of its Details.</li>
            <li>use the filter to select the number of Bed & Bath.</li>
            <li>add and remove a Property from thier Favourites List</li>
            <li>use the Search Box feature to find Keyword matching Properties.</li>
            <li>Interact with the Property Owner using the Comment Box feature.</li>
            <li>use the filters to sort Properties by Rent, Sort Properties by Distance to University </li>
         </ul>
         <h3>Owners can</h3>
         <ul>
            <li>Create, Update and Delete their profile.</li>
            <li>Create, Update and Delete their Properties.</li>
            <li>view all the Properties listed by them or view specific Properties.</li>
            <li>Interact with Students using the Comment Box feature.</li>
         </ul>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
         <h2>Sign-Up</h2>
         <form method="POST" id="signup-form" action="/sign-up">
      <div class="row mb-2">
         <label for="emailIdInput" class="col-sm-2 col-form-label">Email:</label>
         <div class="col-sm-6">
            <input type="email" class="form-control" id="emailIdInput" name="emailIdInput" placeholder="Enter a valid email id">
         </div>
         <div id="no-email" class="div-text"  hidden>Please enter your email</div>
      </div>
      <div class="row mb-2">
         <label for="passwordInput" class="col-sm-2 col-form-label">Password:</label>
         <div class="col-sm-6">
            <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Enter a valid password">
         </div>
         <div id="no-password" class="div-text" hidden>Please enter your password </div>
      </div>
      <div class="row mb-2">
         <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
         <div class="col-sm-6">
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter a valid first name">
         </div>
         <div id="no-first-name" class="div-text" hidden>Please enter your first name</div>
      </div>
      <div class="row mb-2">
         <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
         <div class="col-sm-6">
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter a valid last name">
         </div>
         <div id="no-last-name" class="div-text" hidden>Please enter your last name</div>
      </div>
      <div class="row mb-2">
         <label for="contact" class="col-sm-2 col-form-label">Telephone:</label>
         <div class="col-sm-6">
            <input type="tel" class="form-control" id="contact" name="contact" placeholder="Enter a valid phone number">
         </div>
         <div id="no-telephone" class="div-text" hidden>Please enter telephone number</div>
      </div>
      <div class="row mb-2">
         <label for = "gender" class="col-sm-2 col-form-label">Gender:</label>
         <div class="col-sm-6">
            <select id = "gender" class="form-control" name = "gender">
               <option value="">Select a gender</option>
               <option value="M">M</option>
               <option value="F">F</option>
            </select>
         </div>
         <div id="no-gender" class="div-text" hidden>Please select a gender</div>
      </div>
      <div class="row mb-2">
         <label for = "city" class="col-sm-2 col-form-label">City:</label>
         <div class="col-sm-6">
            <input type="text" class="form-control" id = "city" name = "city" placeholder="Enter city name">
         </div>
         <div id="no-city" class="div-text" hidden>Please enter a city</div>
      </div>
      <div class="row mb-2">
         <label for = "state" class="col-sm-2 col-form-label">State:</label>
         <div class="col-sm-6">
            <input type="text" class="form-control" id = "state" name = "state" placeholder="Enter state name">
         </div>
         <div id="no-state" class="div-text" hidden>Please enter a state</div>
      </div>
      <div class="row mb-2">
         <label for = "age" class="col-sm-2 col-form-label">Age:</label>
         <div class="col-sm-6">
            <input type="number" class="form-control" id = "age" name = "age" placeholder="Enter age">
         </div>
         <div id="no-age" class="div-text" hidden>Please enter your age</div>
      </div>
      <fieldset class="row mb-2">
         <legend class="col-form-label col-sm-2 pt-0">Are you a Student or Owner</legend>
         <div class="col-sm-6">
            <div class="form-check">
               <input class="form-check-input" type="radio" id = "studentVal" name = "userType" value="student">
               <label class="form-check-label" for="studentVal">
               Student
               </label>
            </div>
            <div class="form-check">
               <input class="form-check-input" type="radio" name="userType" id="ownerVal" value="owner">
               <label class="form-check-label" for="ownerVal">
               Owner
               </label>
            </div>
            <div id="no-type" hidden>Please select one of the user type</div>
         </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Sign-Up">
   </form>
      <a href="/sign-in">Already have an account? Click here to Sign In!</a>
      </div>
</div>
</main>
<script src="/public/signup.js"></script>


