
<main>
  <form method="POST" id="signup-form" action="/sign-up">
    <label for="emailIdInput">
        Email:
        <input type="email" id="emailIdInput" name="emailIdInput" placeholder="Enter a valid email id">
        <br>
        <br>
    </label>
    <label for="passwordInput">
        Password:
        <input type="password" id="passwordInput" name="passwordInput" placeholder="Enter a valid password">
        <br>
        <br>
    </label>
    <label for="firstName">
        First Name:
        <input type="text" id="firstName" name="firstName" placeholder="Enter a valid first name">
        <br>
        <br>
    </label>
    <label for="lastName">
        Last Name:
        <input type="text" id="lastName" name="lastName" placeholder="Enter a valid last name">
        <br>
        <br>
    </label>
    <label for="contact">
        Telephone:
        <input type="tel" id="contact" name="contact" placeholder="Enter a valid phone number">
        <br>
        <br>
    </label>
    <label for = "gender">
        Gender:
        <input type="text" id = "gender" name = "gender" placeholder="Enter M or F">
        <br>
        <br>
    </label>
    <label for = "city">
        City:
        <input type="text" id = "city" name = "city" placeholder="Enter city name">
        <br>
        <br>
    </label>
    <label for = "state">
        State:
        <input type="text" id = "state" name = "state" placeholder="Enter state name">
        <br>
        <br>
    </label>
    <label for = "age">
        Age:
        <input type="number" id = "age" name = "age" placeholder="Enter age">
        <br>
        <br>
    </label>

    
    <input type="radio" id = "userType" name = "userType" value="student">
    <label for="userType"> Student</label>
    <br>
    <br>
    <input type="radio" id = "userType" name = "userType" value="owner">
    <label for="userType"> Owner</label>
    <br>
    <br>

    <input type="submit"  value="Sign-Up">
  </form>

  <a href="/sign-in">Already have an account? Click here to Sign In!</a>

</main> 