<main>
  <form method="POST" id="signin-form" action="/sign-in">
    <label for="emailIdInput">
        Email:
        <input type="email" id="emailIdInput" name="emailIdInput" placeholder="Enter a valid email id">
        <br>
        <br>
    </label>
    <label for="passwordInput">
        Password:
        <input type="password" id="passwordInput" name="passwordInput" placeholder="Enter a valid password">
        <br>
        <br>
    </label>
    <input type="radio" id = "student" name = "userType" value="student" checked>
    <label for="student"> Student</label>
    <br>
    <br>
    <input type="radio" id = "owner" name = "userType" value="owner">
    <label for="owner"> Owner</label>
    <br>
    <br>
    <input type="submit"  value="Sign-In">
  </form>

  <a href="/sign-up">Click here to Sign Up!</a>
</main> 