{{!-- 
    Use form to display the data and so user can easily edit and submit the form. Call the route (/students)
    Keep the layout similar to sign-up page
 --}}
 
 <main>
   <form method="POST" id="student-profile" action="/students">

      <label for="emailIdInput">Email:
      <input type="text" id="emailIdInput" name="emailIdInput" value="data.emailIdInput">
      <br>
      <br>
      </label>

      <label for="firstName">First name:
      <input type="text" id="lname" name="firstName" value="data.firstName">
      <br>
      <br>
      </label>

      <label for="lastName">Last name:
      <input type="text" id="lastName" name="lastName" value="data.lastName">
      <br>
      <br>
      </label>

      <label for="contact">Contact:
      <input type="tel" id="contact" name="contact" value="data.contact">
      <br>
      <br>
      </label>

      <label for="contact">Contact:
      <input type="tel" id="contact" name="contact" value="data.contact">
      <br>
      <br>
      </label>

      <label for="gender">Gender:
      <input type="text" id="gender" name="gender" value="data.gender">
      <br>
      <br>
      </label>

      <label for="city">City:
      <input type="text" id="city" name="city" value="data.city">
      <br>
      <br>
      </label>

      <label for="state">State:
      <input type="text" id="state" name="state" value="data.state">
      <br>
      <br>
      </label>

      <label for="age">Age:
      <input type="number" id="age" name="age" value="data.age">
      <br>
      <br>
      </label>

      <label for="state">State:
      <input type="text" id="state" name="state" value="data.state">
      <br>
      <br>
      </label>

      <input type="radio" id = "userType" name = "userType" value="student">
      <label for="userType"> Student</label>
      <br>
      <br>

      <input type="radio" id = "userType" name = "userType" value="owner">
      <label for="userType"> Owner</label>
      <br>
      <br>

      <input type="submit"  value="Update">
   </form>
    

 </main>
  
 