<main>
    <div class="studentLinks">  
        <a href="/students" id="studentElement1">Profile</a>
        <a href="/sign-out">Sign-out</a>
        <br>
        <br>
    </div>

    <form class="form-search form-inline" action='search' method='GET'>
        <label class="nav-item active" for="search-input"></label>
        <input class="bg-light form-control form-control-sm" name="search-input" type="text" id="search-input" placeholder="Search...">
    </form>
</main>