.error{
    color: red;
    font-size: larger;
}

.bedSize{
    font-size: larger;
}

.studentLinks {
    position: relative;
    display: flex;
}

.studentLinks .studentElement2 {
    margin-left: 10px;
}

.studentLinks .signoutElement {
    margin-left: 10px;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
}

.dropbtn1 {
  background-color: #575ce8;
  color: white;
  padding: 5px;
  font-size: 12px;
  border: none;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 .bed-radio {
  padding-top: 5px;
  padding-left: 8px;
}

.dropdown-content1 .form-check {
  color: black;
  padding-top: 3.5px;
  padding-bottom: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 .bath-radio {
  padding-top: 5px;
  padding-left: 8px;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  background-color: #2f27c2;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  margin-right: 8.5%;
}

.dropbtn2 {
  background-color: #575ce8;
  color: white;
  padding: 5px;
  font-size: 12px;
  border: none;
}
  
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
}
  
.dropdown-content2 a:hover {
  background-color: #ddd;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.dropdown2:hover .dropbtn2 {
  background-color: #2f27c2;
}

.propertyLink {
  text-decoration: none;
  color: black;
}